<!DOCTYPE html>
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}# /
    %title FURIMA
    -# %meta{name: "csrf-param" content:"authenticity_token"}
    -# %meta{name: "csrf-token" content:"iS5zBg8+06nJxjyeu+3NASopNcpv3OwefEJvzjchSd7c2l0RyzOv2Kz1tnT+Kpzftt2QE7fBhJxZD1cofw/vEQ=="}
    -# %link{"href": "style.css", "rel": "stylesheet"}
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
%body
  .PcHeader
    .PcHeader__box
      .PcHeader__box__top
        .PcHeader__box__top__icon

        .PcHeader__box__top__search
          .PcHeader__box__top__search__input
            .PcHeader__box__top__search__input__icon

      .PcHeader__box__bottom
        .PcHeader__box__bottom__listLeft
          .PcHeader__box__bottom__listLeft__category
          .PcHeader__box__bottom__listLeft__brand

        .PcHeader__box__bottom__listRight
          .PcHeader__box__bottom__listRight__login
          .PcHeader__box__bottom__listRight__new

  .Main
    .Main__visual
      .Main__visual__content
        .Main__visual__content__subtitle

        .Main__visual__content__text

        .Main__visual__content__icon
          .Main__visual__content__icon__aBtn
          .Main__visual__content__icon__bBtn

    .Main__introduction
      .Main__introduction__subtitle

      .Main__introduction__lists
        .Main__introduction__lists__list
          .Main__introduction__lists__list__photo
            .Main__introduction__lists__list__photo__number

        .Main__introduction__lists__list
          .Main__introduction__lists__list__photo
            .Main__introduction__lists__list__photo__number

        .Main__introduction__lists__list
          .Main__introduction__lists__list__photo
            .Main__introduction__lists__list__photo__number

    .Main__dl
      .Main__dl__box
        .Main__dl__box__subtitle

        .Main__dl__box__text

        .Main__dl__box__icon
          .Main__dl__box__icon__aBtn
          .Main__dl__box__icon__gBtn

    .Main__features
      .Main__features__head

      .Main__features__items
        .Main__features__items__item
          .Main__features__items__item__img
          .Main__features__items__item__subtitle
          .Main__features__items__item__detail
        
        .Main__features__items__item
          .Main__features__items__item__img
          .Main__features__items__item__subtitle
          .Main__features__items__item__detail

        .Main__features__items__item
          .Main__features__items__item__img
          .Main__features__items__item__subtitle
          .Main__features__items__item__detail
        
    .Main__pickupContainer
      .Main__pickupContainer__head

      .Main__pickupContainer__productbox
        .Main__pickupContainer__productbox__head

        .Main__pickupContainer__productbox__lists
          .Main__pickupContainer__productbox__lists__list
            .Main__pickupContainer__productbox__lists__list__img
          .Main__pickupContainer__productbox__lists__list
            .Main__pickupContainer__productbox__lists__list__img
          .Main__pickupContainer__productbox__lists__list
            .Main__pickupContainer__productbox__lists__list__img
          .Main__pickupContainer__productbox__lists__list
            .Main__pickupContainer__productbox__lists__list__img

    .Main__pickupContainer
      .Main__pickupContainer__head

      .Main__pickupContainer__productbox
        .Main__pickupContainer__productbox__head
        
        .Main__pickupContainer__productbox__lists
          .Main__pickupContainer__productbox__lists__list
            .Main__pickupContainer__productbox__lists__list__img
          .Main__pickupContainer__productbox__lists__list
            .Main__pickupContainer__productbox__lists__list__img
          .Main__pickupContainer__productbox__lists__list
            .Main__pickupContainer__productbox__lists__list__img
          .Main__pickupContainer__productbox__lists__list
            .Main__pickupContainer__productbox__lists__list__img

  .AppBannaer
    .AppBannaer__inner
      .AppBannaer__inner__title

      .AppBannaer__inner__text

      .AppBannaer__inner__icon
        .AppBannaer__inner__icon__aBtn
        .AppBannaer__inner__icon__gBtn

  .Footer
    .Footer__box
      .Footer__box__contents
        .Footer__box__contents__head

      .Footer__box__contents
        .Footer__box__contents__head

      .Footer__box__contents
        .Footer__box__contents__head


    .Footer_logo

  -# 出品ボタンの実装