*{
  box-sizing: border-box;
}

.wrapper{
  height: 100vh;
  width: 100vw;
}








.contents{
  background: #f8f8f8;
  display: flex;
  &__side{
    &__box{
      padding: 40px;
      border-bottom: 2px solid #f8f8f8;
      .p3 {
        font-size: 14px;
        color: gray;
        font-weight: bold;
        margin-bottom: 25px;
      }
      &_＿box0 {
        width: 100%;
        position: relative;
        &__text {
          margin-bottom: 15px;
        }
        &__form {
          width: 100%;
          height: 50px;
          padding: 0 16px;
          border: 1px solid lightgray;
          border-radius: 3px;
        }
      }
      &__box1 {
        width: 100%;
        position: relative;
        &__text {
          margin-bottom: 15px;
        }
        select {
          width: 100%;
          height: 50px;
          padding: 0 55px 0 15px;
          border: 1px solid lightgray;
          border-radius: 3px;
          -webkit-appearance: none;
        }
      }
      &__box2 {
        width: 100%;
        margin-top: 30px;
        &__text {
          margin-bottom: 15px;
          .sub {
            border: 1px solid lightgray;
            border-radius: 3px;
            background-color: lightgray;
          }
        }
        &__form {
          width: 100%;
          height: 50px;
          padding: 0 16px;
          border: 1px solid lightgray;
          border-radius: 3px;
        }
      }
      &__box3 {
        width: 100%;
        margin-top: 30px;
        position: relative;
        &__text {
          margin-bottom: 15px;
        }
        select {
          width: 100%;
          height: 50px;
          padding: 0 55px 0 15px;
          border: 1px solid lightgray;
          border-radius: 3px;
          -webkit-appearance: none;
        }
      }
    }
    &__delivery {
      padding: 40px;
      border-bottom: 2px solid #f8f8f8;
      .p3 {
        font-size: 14px;
        color: gray;
        font-weight: bold;
        margin-bottom: 25px;
      }
      &__box1 {
        width: 100%;
        position: relative;
        &__text {
          margin-bottom: 15px;
        }
        select {
          width: 100%;
          height: 50px;
          padding: 0 55px 0 15px;
          border: 1px solid lightgray;
          border-radius: 3px;
          -webkit-appearance: none;
        }
      }
      &__box2 {
        width: 100%;
        margin-top: 30px;
        position: relative;
        &__text {
          margin-bottom: 15px;
        }
        select {
          width: 100%;
          height: 50px;
          padding: 0 55px 0 15px;
          border: 1px solid lightgray;
          border-radius: 3px;
          -webkit-appearance: none;
        }
      }
    }
    &__price {
      padding: 40px;
      &__box1 {
        width: 100%;
        padding-bottom: 14px;
        &__text {
          margin-bottom: 15px;
        }
        &__forms{
          .money {
            border: none;
            background-color: white;
            color: black;
            font-weight: normal;
          }
          &__form {
            width: 285px;
            height: 45px;
            padding: 0 16px;
            border: 1px solid lightgray;
            border-radius: 3px;
            text-align: end;
          }
        }
      }
    }
    &__search{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 360px;
      margin: 0px auto 0px;
      padding-bottom: 32px;
      &__btn{
        width: 100%;
        height: 50px;
        text-align: center;
        line-height: 50px;
        background-color: red;
        padding: 0 24px;
        text-decoration: none;
        color: white;
        font-weight: bold;
        border: 1px solid red;
        border-radius: 3px;
      }
    }
  }
  &__posts{
    width: 780px;
    margin: 26px auto;
    display: flex;
    justify-content: space-around;
    &__lists{
      width: 220px;
      display: inline-block;
      float: left;
      &__img{
        width: 220px;
        height: 150px;
        position: relative;
        overflow: hidden;
        margin: 0;
        z-index: auto;
        .Products_img{
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          z-index: auto;
          height: 150px;
          object-fit: cover;
        }
      }
      &__body{
        background-color: white;
        color: #333;
        padding: 16px;
        &__name{
          overflow: hidden;
          line-height: 1.5;
          font-size: 16px;
          text-align: left;
          position: relative;
        }
        &__details{
          font-size: 16px;
          &__money{
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
          &__tax{
            font-size: 10px;
            text-align: left;
          }
        }
      }

    }
  }
}

