.Crumbs{
  width: 100%;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  position: relative;
  padding: 0 60px;
  height: 55px;
  &__lists{
    padding: 17px 0 16px;
    width: 100%;
    max-width: 1040px;
    font-size: 14px;
    margin: 0 auto;
    &__categoryName{
      padding: 0 10px 0 0;
      float: left;
    }
    &__img{
      padding: 0 10px 0 0;
      float: left;
    }
  }
}

.Show-Main{
  background: #f8f8f8;
  height: 2140px;
  &__box{
    padding: 40px;
    margin: 0 auto;
    &__left{
      margin: 0;
      padding: 0;
    }
    &__right{
      width: 700px;
      margin: 0 auto;
      height: 2080px;
      &__content{
        height: 1360px;
        margin: 0;
        padding: 0;
        &__itemBox{ 
          background-color:#fff;
          height: 1360px;
          padding: 24px 40px 40px;
          &__name{
            text-align: center;
            font-weight: bold;
            font-size: 24px;       
          }
          &__body{
            margin: 16px 0 0;
            &__lists{
              display: flex;
              position: relative;
              &__image{
                display: flex;
                flex-direction: column;
                width: 560px;
                align-items: center;
                margin: 0 auto;          
              }
              &__list{
                display: flex;
                justify-content: center;
                margin-top: 10px;
                &__img{
                  width: 140px;
                  margin: 0 10px 0 0;
                }
              }
            }
          }
          &__price{
            margin: 24px 0 24px;
            text-align: center;
            display: flex;
            flex-direction: column;
            &__name{
              font-size: 46px;
              font-weight: bold;
              margin: 0 10px 0 0;
            }
            &__detail{
              font-size: 16px;
              display: flex;
              justify-content: center;
              &__name{
                box-sizing: border-box;
              }
            }
          }
          &__detail{
            line-height: 1.5;
            font-size: 18px;
            margin-bottom: 30px;
          }
          &__tableBox{
            margin-bottom: 20px;
            &__tbody{
              display: table-row-group;
              vertical-align: middle;
              border-color: inherit;
              &__name{
                display: table-row;
                vertical-align: inherit;
                border-color: inherit;
                height: 47px;
                &__th{
                  width: 20%;
                  background-color: #eee;
                  font-weight: 400;
                  padding: 8px;
                  border: 1px solid #dedede;
                  font-size: 14px;
                  text-align: center;
                }
                &__td{
                  width: 61%;
                  padding: 15px 15px;
                  border: 1px solid #dedede;
                  font-size: 14px;
                }
              }
              &__category{
                display: table-row;
                vertical-align: inherit;
                border-color: inherit;
                height: 94px;
                &__th{
                  width: 20%;
                  background-color: #eee;
                  font-weight: 400;
                  padding: 8px;
                  border: 1px solid #dedede;
                  font-size: 14px;
                  text-align: center;
                }
                &__td{
                  width: 61%;
                  padding: 15px 15px;
                  border: 1px solid #dedede;
                  font-size: 14px;
                }
              }
              &__brand{
                display: table-row;
                vertical-align: inherit;
                border-color: inherit;
                height: 38px;
                &__th{
                  width: 20%;
                  background-color: #eee;
                  font-weight: 400;
                  padding: 8px;
                  border: 1px solid #dedede;
                  font-size: 14px;
                  text-align: center;
                }
                &__td{
                  width: 61%;
                  padding: 15px 15px;
                  border: 1px solid #dedede;
                  font-size: 14px;
                }
              }
              &__size{
                display: table-row;
                vertical-align: inherit;
                border-color: inherit;
                height: 38px;
                &__th{
                  width: 20%;
                  background-color: #eee;
                  font-weight: 400;
                  padding: 8px;
                  border: 1px solid #dedede;
                  font-size: 14px;
                  text-align: center;
                }
                &__td{
                  width: 61%;
                  padding: 15px 15px;
                  border: 1px solid #dedede;
                  font-size: 14px;
                }
              }
              &__condition{
                display: table-row;
                vertical-align: inherit;
                border-color: inherit;
                height: 52px;
                &__th{
                  width: 20%;
                  background-color: #eee;
                  font-weight: 400;
                  padding: 8px;
                  border: 1px solid #dedede;
                  font-size: 14px;
                  text-align: center;
                }
                &__td{
                  width: 61%;
                  padding: 15px 15px;
                  border: 1px solid #dedede;
                  font-size: 14px;
                }
              }
              &__burden{
                display: table-row;
                vertical-align: inherit;
                border-color: inherit;
                height: 52px;
                &__th{
                  width: 20%;
                  background-color: #eee;
                  font-weight: 400;
                  padding: 8px;
                  border: 1px solid #dedede;
                  font-size: 14px;
                  text-align: center;
                }
                &__td{
                  width: 61%;
                  padding: 15px 15px;
                  border: 1px solid #dedede;
                  font-size: 14px;
                }
              }
              &__area{
                display: table-row;
                vertical-align: inherit;
                border-color: inherit;
                height: 52px;
                &__th{
                  width: 20%;
                  background-color: #eee;
                  font-weight: 400;
                  padding: 8px;
                  border: 1px solid #dedede;
                  font-size: 14px;
                  text-align: center;
                }
                &__td{
                  width: 61%;
                  padding: 15px 15px;
                  border: 1px solid #dedede;
                  font-size: 14px;
                }
              }
              &__day{
                display: table-row;
                vertical-align: inherit;
                border-color: inherit;
                height: 52px;
                &__th{
                  width: 20%;
                  background-color: #eee;
                  font-weight: 400;
                  padding: 8px;
                  border: 1px solid #dedede;
                  font-size: 14px;
                  text-align: center;
                }
                &__td{
                  width: 61%;
                  padding: 15px 15px;
                  border: 1px solid #dedede;
                  font-size: 14px;
                }
              }
            }
          }
          
        }
      }
      &__links{
        height: 24px;
        &__beforeLink{
          display: flex;
          float: left;
        }
        &__afterLink{
          display: flex;
          float: right;
        }
      }
      &__relatedItems{
        height: 328px;
        &__productLists{
          height: 0px;
          &__productList{
            margin: 0 0 10px;
            float: left;
            width: calc(100% / 3);
            height: 277px;
            &__img{
              background-color: #fff;
              height:150px
            }
            &__body{
              background-color: white;
              color: #333;
              padding: 16px;
              display: block;
              &__name{
                overflow: hidden;
                line-height: 1.5;
                font-size: 16px;
                text-align: left;
              }
              &__detail{
                font-size: 16px;
                &__text{
                  font-size: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
  
}
  

.Main_img{
  object-fit: cover;
  height: 346px;
}

.Sub_img{
  object-fit: cover;
  height: 87px;
  width: 140px;
}

.categoryName__url{
  text-decoration: none;
  color: #333;
}

.table{
  width: 100%;
    height: 375px;
    border-collapse: collapse;
    border: 1px solid #f8f8f8;
}

.Link__url{
  
  text-decoration: none;
  color: #3CCACE;
  list-style: none;
}

.RelatedItems__text__url{
  display: block;
  margin: 24px 0 8px;
  color: #3CCACE;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  position: relative;
}

.ProductList__url{
  display: block;
  margin: 24px 0 8px;
  color: #3CCACE;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  position: relative;
  height: 277px;
}
.ProductList_img{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: auto;
  height: 150px;
  object-fit: cover;
}

.items-box_photo__sold{
  width: 0;
  height: 0;
  border-top: 60px solid #ea352d ;
  border-right: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid #ea352d ;
  z-index:100;
  position: relative;
  top:-1285px;
  &__inner{
    transform: rotate(-45deg);
    font-size: 28px;
    margin:-35px 0px 0px -55px;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
  }
}