.SubWrapper{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
  overflow: scroll;
  .SubHeader {
    width: 100%;
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__image {
      max-width: 100%;
      max-height: 100%;
      margin-top: 30px;
    }
  }



  .Post-Main {
    width: 700px;
    margin-top: 30px;
    background-color:white;
    &__images {
      padding: 40px;
      border-bottom: 2px solid #f8f8f8;
      &__messages {
        width: 100%;
      }
      .p1 {
        margin-top: 16px;
        font-size: 14px;
      }
      &__image {
        margin-top: 16px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px dashed  lightgray;
        height: 150px;
        justify-content: center;
        background-color: #f8f8f8;
        &__icon {
          display: flex;
          flex-direction: column;
          align-items: center;
          img {
            height: 20px;
            width: 20px;
            filter: invert(50%) sepia(0%) saturate(11%) hue-rotate(143deg) brightness(101%) contrast(93%);
          }
        }
        &__text {
          display: flex;
          flex-direction: column;
          align-items: center;
          .p2 {
            font-size: 12px;
          }
        }
      }
    }
    &__name-text {
      padding: 40px;
      border-bottom: 2px solid #f8f8f8;
      &__box1 {
        width: 100%;
        &__text {
          margin-bottom: 15px;
        }
        &__form {
          width: 100%;
          height: 45px;
          padding: 0 16px;
          border: 1px solid lightgray;
          border-radius: 3px;
        }
      }
      &__box2 {
        width: 100%;
        margin-top: 30px;
        &__text {
          margin-bottom: 15px;
        }
        &__form {
          width: 100%;
          height: 150px;
          padding: 13px 16px;
          border: 1px solid lightgray;
          border-radius: 3px;
        }
        &__number {
          font-size: 12px;
          margin-top: 5px;
          text-align: end;
          color: gray;
        }
      }
    }
    &__post-show {
      padding: 40px;
      border-bottom: 2px solid #f8f8f8;
      .p3 {
        font-size: 14px;
        color: gray;
        font-weight: bold;
        margin-bottom: 25px;
      }
      &__box1 {
        width: 100%;
        &__text {
          margin-bottom: 15px;
        }
        select {
          width: 100%;
          height: 50px;
          padding: 0 55px 0 15px;
          border: 1px solid lightgray;
          border-radius: 3px;
          -webkit-appearance: none;
        }
      }
      &__box2 {
        width: 100%;
        margin-top: 30px;
        &__text {
          margin-bottom: 15px;
          .sub {
            border: 1px solid lightgray;
            border-radius: 3px;
            background-color: lightgray;
          }
        }
        &__form {
          width: 100%;
          height: 50px;
          padding: 0 16px;
          border: 1px solid lightgray;
          border-radius: 3px;
        }
      }
      &__box3 {
        width: 100%;
        margin-top: 30px;
        &__text {
          margin-bottom: 15px;
        }
        select {
          width: 100%;
          height: 50px;
          padding: 0 55px 0 15px;
          border: 1px solid lightgray;
          border-radius: 3px;
          -webkit-appearance: none;
        }
      }
    }
    &__delivery {
      padding: 40px;
      border-bottom: 2px solid #f8f8f8;
      .p3 {
        font-size: 14px;
        color: gray;
        font-weight: bold;
        margin-bottom: 25px;
      }
      &__box1 {
        width: 100%;
        &__text {
          margin-bottom: 15px;
        }
        select {
          width: 100%;
          height: 50px;
          padding: 0 55px 0 15px;
          border: 1px solid lightgray;
          border-radius: 3px;
          -webkit-appearance: none;
        }
      }
      &__box2 {
        width: 100%;
        margin-top: 30px;
        &__text {
          margin-bottom: 15px;
        }
        select {
          width: 100%;
          height: 50px;
          padding: 0 55px 0 15px;
          border: 1px solid lightgray;
          border-radius: 3px;
          -webkit-appearance: none;
        }
      }
      &__box3 {
        width: 100%;
        margin-top: 30px;
        &__text {
          margin-bottom: 15px;
        }
        select {
          width: 100%;
          height: 50px;
          padding: 0 55px 0 15px;
          border: 1px solid lightgray;
          border-radius: 3px;
          -webkit-appearance: none;
        }
      }
    }
    &__price {
      padding: 40px;
      .p3 {
        font-size: 13px;
        color: gray;
        font-weight: bold;
        margin-bottom: 25px;
      }
      &__box1 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 14px;
        &__text {
          margin-bottom: 15px;
        }
        &__forms{
          .money {
            border: none;
            background-color: white;
            color: black;
            font-weight: normal;
          }
          &__form {
            width: 285px;
            height: 45px;
            padding: 0 16px;
            border: 1px solid lightgray;
            border-radius: 3px;
            text-align: end;
          }
        }
      }
      &__box2 {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        border-bottom: 2px solid #f8f8f8;
        .p4 {
          font-size: 14px;
        }
      }
      &__box3 {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        .p4 {
          font-size: 14px;
        }
      }
    }
    &__btns {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 360px;
      margin: 0px auto 32px;
      &__btn1 {
        width: 100%;
        height: 50px;
        text-align: center;
        line-height: 50px;
        background-color: red;
        padding: 0 24px;
        text-decoration: none;
        color: white;
        font-weight: bold;
        border: 1px solid red;
        border-radius: 3px;
      }
      &__btn2 {
        width: 100%;
        height: 50px;
        text-align: center;
        line-height: 50px;
        background-color: lightgray;
        margin-top: 24px;
        padding: 0 24px;
        text-decoration: none;
        color: black;
        font-weight: bold;
        border: 1px solid lightgray;
        border-radius: 3px;
      }
      &__btn3 {
        width: 100%;
        margin-top: 24px;
        text-align: center;
        text-decoration: none;
        color: #0095ee;
      }
    }
  }
  label {
    font-size: 14px;
    font-weight: bold;
  }
  span {
    border: 1px solid red;
    border-radius: 3px;
    background-color: red;
    color: white;
    margin-left: 8px;
    padding: 2px 4px;
    font-size: 12px;
    font-weight: bold;
  }


  .SubFooter {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    img {
      filter: invert(50%) sepia(0%) saturate(11%) hue-rotate(143deg) brightness(101%) contrast(93%);
    }
    &__image {
      max-width: 100%;
      max-height: 100%;
      margin-top: 30px;
    }
  }
}