.SubFooter {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  img {
    filter: invert(50%) sepia(0%) saturate(11%) hue-rotate(143deg) brightness(101%) contrast(93%);
  }
  &__image {
    max-width: 100%;
    max-height: 100%;
    margin-top: 30px;
  }
}