.CardDeleteBox
  %h2.CardDeleteBox__CardDeleteBoxCenter
    クレジットカード情報
  .CardDeleteBox__CardDeleteBoxInformation
    %br
    = "**** **** **** " 
  .CardDeleteBox__Exp_month
    %br
    1/20
    %br
  .CardDeleteBox__DeleteBtn
    = submit_tag "削除する", id: "token_submit"


    