.CardDeleteBox
  .CardDeleteBox__CardDeleteBoxCenter
    %h2 クレジットカード情報
    .CardDeleteBox__CardDeleteBoxCenter__Information
      %br
      = "**** **** **** " 
      %br
        .exp_month 
          1/20
      %input{ type: "hidden", name: "card_id", value: "" }
      %button.delete-btn 削除する