.AppBannaer
  .AppBannaer__inner
    .AppBannaer__inner__title
      だれでもかんたん、人生を変えるフリマアプリ
    .AppBannaer__inner__text
      今すぐ無料ダウンロード！
    .AppBannaer__inner__icon
      .AppBannaer__inner__icon__aBtn
        = link_to image_tag("apple.svg", class:"App_img"), "/"
      .AppBannaer__inner__icon__gBtn
        = link_to image_tag("google.svg", class:"Google_img"), "/"

.Footer
  %ul.Footer__contents
    %li.Footer__contents__content
      %h.Footer__contents__content__head 
        FURIMAについて
      %ul.Footer__contents__content__lists
        %li 
          %a.Footer__contents__content__lists__a 会社概要（運営会社）
        %li
          %a.Footer__contents__content__lists__a プライバシーポリシー
        %li 
          %a.Footer__contents__content__lists__a FURIMA利用規約
        %li 
          %a.Footer__contents__content__lists__a ポイントに関する特約
    %li.Footer__contents__content
      %h.Footer__contents__content__head
        FURIMAを見る
      %ul.Footer__contents__content__lists
        %li 
          %a.Footer__contents__content__lists__a カテゴリー一覧
        %li
          %a.Footer__contents__content__lists__a ブランド一覧
    %li.Footer__contents__content
      %h.Footer__contents__content__head
        ヘルプ＆ガイド
      %ul.Footer__contents__content__lists
        %li 
          %a.Footer__contents__content__lists__a FURIMAガイド
        %li
          %a.Footer__contents__content__lists__a FURIMAロゴ利用ガイドライン
        %li
          %a.Footer__contents__content__lists__a お知らせ
  .Footer__logo
    = link_to image_tag("Footer.png", class:"Footer_img"), "/"
    %p.Footer__logo__end
      © FURIMA
