.SubWrapper
  .SubHeader
    = link_to image_tag("logo.png", class:"SubHeader__image", size: "185x50",), "/"

  .SubFooter
    = link_to image_tag("logo-white.png", class:"SubHeader__image", size: "185x50",), "/"
    %p © FURIMA