=render 'Header'

.contents
  .contents__title 
    -# -# .contents__title__name
    -# -#   =@posts.name
    -#   %p.contents__title__letter の検索結果
  .contents__posts
    - @posts.each do |post|
      .contents__posts__lists
        = link_to post_path(post), class:"Main__pickupContainer__productbox__lists__list__url" do
          .contents__posts__lists__img
            - post.images.each do |image|
              = image_tag image.name.url, class:"Products_img"

          .contents__posts__lists__body
            .contents__posts__lists__body__name
            = post.name
            .contents__posts__lists__body__details
              .contents__posts__lists__body__details__money
                = post.price
                円
              .contents__posts__lists__body__details__tax
                (税金)
          -# -if post.buyer_id.present? 
          -#   .items-box_photo__sold
          -#     .items-box_photo__sold__inner
          -#       SOLD

=render 'Footer'