@import "reset";
@import "font-awesome-sprockets";
@import "font-awesome";
* {
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  width: 100vw;
}
@import "modules/SubHeader";
@import "modules/new";
@import "modules/SubFooter";